.rbutton{
    display: flex;
    justify-content: center;
}

.rbutton button{
    background-color: green;
    color: white;
    height: 40px;
    font-size: 1.2rem;
    width: 300px;
}

.button button:hover{
  cursor: pointer;
}